.logo {
    margin-left: 10px;
}

.nav-override {
    background-color: #f1eae4;
    color: #000;
}
.brand-logo {
    color: #222222 !important;
}
nav ul a {
    color: #222222 !important;
}

.sidenav {
    z-index: 999 !important;
}
