@import '../../Styles/variables';

.logo {
    margin-left: 10px;
}

.nav-override {
    background-color: transparent;
    color: #000;
}
.brand-logo {
    color: #222222 !important;
}
.brand-override {
    cursor: pointer !important;
    margin-left: 0.25rem;
}
nav ul a {
    color: #222222 !important;
}

.sidenav {
    z-index: 999 !important;
}
