@import './_variables';

body {
    background-attachment: fixed !important;
    background: linear-gradient(to top right, #f6f1ed 10%, #fff2e8);
    background-position: 100% 100%;
    background-position-x: 100%;
    background-position-y: 100%;
    background-size: 100% auto;

    margin: 0;
    font-family: 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.dashboard-body {
    display: flex;
}
.player-body {
    display: flex;
}
.edit-preview {
    width: 100px;
    height: 100px;
}
.player-item {
    max-width: 80vw;
}

.sidebar {
    top: 60px;
    height: 100%;
    width: 180px;
    transition: 0.2s ease-in-out;
}
.close-sidebar {
    margin-left: -175px;
}
.sidebar.open {
    left: 0;
}
.open-sidebar {
    margin-left: 0px;
}

.bottombar {
    width: 40vw;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 2%;
    margin-left: 25%;
}
.container {
    width: 98% !important;
}

div .base-form-container {
    padding-top: 1rem;
    padding-bottom: 1rem;

    > .base-input-container {
        padding-bottom: 1rem;
    }
}

div .login-container {
    @extend .base-form-container;
    width: 25%;
    min-width: 350px;

    @media only screen and (max-width: $small) {
        width: 100%;
        min-width: 250px;
    }

    > .login-input-container {
        @extend .base-input-container;
    }
}

.flex {
    display: flex;
}

@media screen and (max-width: 991px) {
    .flex {
        display: flex;

        &.column {
            flex-direction: column;
        }
    }
}

.sidenav-overlay {
    z-index: -1 !important;
}

.swiper-container {
    z-index: 0 !important;
}

.playlist-list-item {
    cursor: pointer;
    max-width: 10rem;
}

.sidenav-trigger {
    z-index: 0 !important;
}

.btn {
    background-color: #a3134a !important;
    &:hover {
        background-color: #b50146 !important;
    }

    &:focus {
        background-color: #960145 !important;
    }
}

button:focus {
    background-color: #960145 !important;
}

.sidebar-list-item {
    color: #810333;

    &.light {
        color: #f6f1ed;
    }
}

@media screen and (max-width: 991px) {
    .sidebar-list-item {
        color: #f6f1ed;
    }
}

.sidenav {
    background-color: #810333 !important;
    width: 100vw;
}

.burger {
    color: #810333;
}
